/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: #ecebe8;
}

.special-font {
  font-family: "Kaushan Script", cursive;
}

.box-shadows {
  -webkit-box-shadow: 4px 6px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 6px 5px -2px rgba(0, 0, 0, 0.75);
}

.special-hr {
  background-image: linear-gradient(-135deg, #a951ed 0, #02ccba 100%);
  margin: 10px auto;
  min-height: 1px;
  width: 90%;
}

.mt-6 {
  margin-top: 100px;
}
.mb-6 {
  margin-bottom: 100px;
}

.pointer {
  cursor: pointer;
}

.loading-image {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 40%;
  left: 43%;
  border-radius: 50%;
}
